.button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* Verde para ação positiva */
    color: white;
    cursor: pointer;
    margin-top: 10px; /* Espaço acima do botão */
  }
  