.patient-card {
    background-color: #4CAF50; /* Cor verde da UNIMED */
    border-radius: 8px;
    padding: 15px;
    margin: 10px 0;
    color: white;
    text-align: left;
  }
  
  .patient-card .action-icons img {
    margin-right: 10px; /* Espaçamento entre ícones */
    cursor: pointer; /* Indica que o ícone é clicável */
    width: 24px; /* ou o tamanho que melhor se adequar */
    height: auto;
  }
  